<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Member Registration Form</title>
	<style>
		* {margin-left: 10px;}
	 	form > label {
	 		display : inline-block;
	 		/* block 은 줄바꿈 성질이 있음 */
	 		width: 120px;
	 	}
	 	
	 	form > input {
	 		padding: 4px;
	 		margin-bottom: 4px;
	 	}
	</style>
</head>

	<!--  h1> Member<span th:text="${formTitle}">Registration</span> Form </h1> -->
	
	<!-- 
		th:if 조건문 실행  
			1. 기본적으로 if 구문을 사용해서 조건을 비교해도 되고, (if-)unless 구문을 사용해도 가능. 
			2. 다소 직관적이지 못하고 헷갈릴 수 있음. (especially for the beginners)
			3. if 구문이 더 직관적. unless 는 직관적이지 않다고 느낄 수 있음. 
			4. th:unless 구문은 if문과 조건이 동일하지만, if 조건이 아닌 다른 조건의 경우를 찾음 
	 -->
	 
	 <h1>Member
		<!-- 다중 if 구문 사용
		<span th:if="${formTitle}=='Registration'" th:text="${formTitle}"></span>
		<span th:if="${formTitle}=='Modification'" th:text="${formTitle}"></span>
		-->
		
		<!-- if ... unless 구문 사용. -->
		<span th:if="${formTitle}=='Modification'" th:text="${formTitle}"></span>
		<span th:unless="${formTitle}=='Modification'" th:text="${formTitle}"></span>
	 
	 Form</h1>
	
	<!-- <form action="#" th:action="@{/member/memberWriteOk}" th:object="${memberDTO}" method="POST">  -->
		
		<form
			th:object="${memberDTO}"
			th:action="${formTitle != 'Registration'? '/member/memberUpdateOk' : '/member/memberWriteOk'}"
			method="POST"
			id="memberWriteForm">
		
		<input type="hidden" name="num" th:if="${formTitle}=='Modification'" th:value="${num}">
		<!-- 등록일 때는 아예 안 나 -->
		<label for="name">Name</label>
		<input type="text" id="name" name="name" th:field="*{name}">
		<!-- 여기서 name 값이 memberDTO 값에 저장돼서 controller 단으로 넘어 -->
		<!-- thymeleaf 에서 객체 받을 때는 "$", 객체 안에 field 정보 받을 때는 "*" -->
		<br>
		<label for="id">ID</label>
		<input type="text" id="id" name="id" th:field="*{id}">
		<br>
		<label for="phone">Phone</label>
		<input type="text" id="phone" name="phone" th:field="*{phone}">
		<br> <br>
		
		
		<!-- <input type="submit" value="submit">  <input type="reset" value="reset"> -->
		<!--  
		
			설명 :form 태그안에 button 태그로 버턴을 만드는 경우와 버튼 바깥쪽에 만드는 경우 주의사항 
			1. 폼 태그 안쪽에 만드는 경우 .. type="submit" 지정만 해주면 됨
			2. 폼 태그 바깥에 만드는 경우 .. 폼 요서에 id 지정 후 버튼 태그에 해당 id를 명시해준다. 안해주면 아예 클릭이 안됨 
		
		-->
		<!--  button type="submit"> 회원등록 </button>  -->
		
	</form>
	
	<!-- 1번 방식(다중 if) :   -->
	<!--
	<button type="submit" form="memberWriteForm" th:if="${formTitle}=='Registration'"> 회원등록 </button>
 		ㄴ 넘어온 formTitle 값이 Registration이면 '회원등록' 으로 출력.
	<button type="submit" form="memberWriteForm" th:if="${formTitle}=='Modification'"> 회원수정 </button>
	<button type="submit" form="memberWriteForm" th:if="${formTitle}=='Deletion'"> 회원삭제 </button>
	 -->
	 
	 <!-- 2번 방식(if...unless) : 값이 2개일 때 -->
	 <!-- 주의할 점: if 조건과 unless 조건을 동일하게 명시해야함 -->
	 <!--  
	 <button type="submit" form="memberWriteForm" th:if="${formTitle}=='Registration'"> 등록 </button>
	 <button type="submit" form="memberWriteForm" th:unless="${formTitle}=='Registration'"> 수정 </button>
	-->
	
	<!-- 3번 방식(if... else if 구문과 같은 효과는 switch 구문 사용) : 값이 3개 이상일 때 -->
	<div th:switch="${formTitle}">
	
		<button type="submit" form="memberWriteForm" th:case="Registration"> 회원 등록</button>
		<button type="submit" form="memberWriteForm" th:case="Modification"> 회원 수정</button>
		<button type="submit" form="memberWriteForm" th:case="Deletion"> 회원 삭제 </button>
	
	</div>
<body>

</body>
</html>



