<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<th:block th:fragment="headFragment">
		
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
			<meta http-equiv="refresh" content="10; url=localhost:8024/member/memberList">
			<!-- Bootstrap CSS  -->
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
		
			<title>main page</title>
		</head>
		 
	</th:block>
	
</html>