<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Required meta tags -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta http-equiv="refresh" content="10; url=localhost:8024/member/memberList">
		
		<!-- Bootstrap CSS  -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
		
		<title>Top Navigation Menu</title>
		<!-- <title>[[${title}]]</title>  도 가능  -->
		
	</head>
	<body>
		
		<nav th:fragment="tpl_nav(naviVal)" class="navbar navbar-dark bg-dark text-light navbar-expand-md">
		<!-- navbar-dark 적용하면 사실 text-light 는 적용 안해도 됨.(자동으로 됨)  -->
		<!--  	navbar-expand-sm : width = 576 px 이살일 때 가로 정렬 (보통 폰 기준) 
				navbar-expand-md : width = 768 px 이상일 때 가로 정렬 (보통 태블릿) 
				navbar-expand-lg : width = 992 px 이상일 때 가로 정렬 (보통 노트북)
				navbar-expand-xl : width = 1200 px(?) px 이상일 때 가로 정렬  (보통 컴)
		-->
			<a class="navbar-brand" href="#">MyWorld.com</a>
			<button class="navbar-toggler" type="button" data-toggle="collpase" data-target="#topMenu"> 
			<!--  data-target : 어떤 것을 접었다 펼쳤다 할 것인지 -->
			<!--  data-toggle : 클릭하면 어떤 일이 일어나게 할 것인지 -->
				<span class="navbar-toggler-icon"> </span>
			</button>
			
			<div class="collapse navbar-collapse" id="topMenu">
			<!--  class="navbar-collapse" 로만 지정 시 메뉴가 펼쳐진 상태로 나옴  -->
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item" th:classappend="${naviVal}=='main'? 'active'"><a class="nav-link" href="/main">Main</a></li>
					<li class="nav-item" th:classappend="${naviVal}=='sub'? 'active'"><a class="nav-link" href="/sub">Sub</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Member CRUD</a></li>
				</ul>
			</div>
		</nav>
		
		<!-- jQuery and Bootstrap Bundle(with Popper) -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
	</body>
	
</html>