<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<style>
			h2{
				display: block;
				text-align: center;
				margin-top: 100px;
				color: skyblue;}
			span{
				display: block;
				text-align: center;}
			.box {
				width: 400px; 
				height: 600px;
				border: 2px solid green;
				margin: 30px auto;
				background-image: url(../member/nan_02.jpg);
				
			}	
		</style>
	</head>
	<body>
		<h2>WELCOME to My World</h2> 
		<br>
	
		<span><a href="/member/m2emberWriteFormNew"> 사용자 등록화면 이동하기 </a></span>
		<br>
		<div class="box">
		</div>
	</body>
</html>